/*src/app/auth/signup/signup.component.css*/
.mat-form-field {
  width: 300px;
}
.mat-display-1 {
  margin-top: 20px;
  text-align: center;
}
button {
    margin: 10px auto;
}
mat-spinner {
    margin-top: 10px;
}
